@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  /* list-style: none; */
  text-decoration: none !important;
}

body,
html {
  overflow-x: hidden !important;
}

/* ---------------------------common-class------------------------ */
.ff-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.ff-raleway {
  font-family: 'Raleway', sans-serif;
}

.ff-inter {
  font-family: 'inter', sans-serif;
}

@font-face {
  font-family: 'NeueMachinaLight';
  src: url("./assets/font-family/neuefont/NeueMachina-Light.otf");
}

.ff_NeueMachinaLight {
  font-family: 'NeueMachinaLight';
}

@font-face {
  font-family: 'NeueMachinaRegular';
  src: url('./assets/font-family/neuefont/NeueMachina-Regular.otf');
}

.ff_NeueMachinaRegular {
  font-family: 'NeueMachinaRegular';
}

@font-face {
  font-family: 'NeueMachinaUltrabold';
  src: url('./assets/font-family/neuefont/NeueMachina-Ultrabold.otf');
}

.ff_NeueMachinaUltrabold {
  font-family: 'NeueMachinaUltrabold';
}

.fs_4sm {
  font-size: var(--fs-4sm);
}

.fs_6sm {
  font-size: var(--fs-6sm);
}

.fs_8sm {
  font-size: var(--fs-8sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_2md {
  font-size: var(--fs-2md);
}

.fs_4md {
  font-size: var(--fs-4md);
}

.fs_6lg {
  font-size: var(--fs-6lg);
}

.fs_8lg {
  font-size: var(--fs-8lg);
}

.fs_6xl {
  font-size: var(--fs-6xl);
}

.fs_2xxl {
  font-size: var(--fs-2xxl);
}

.fs_5xxxl {
  font-size: var(--fs-5xxxl);
}

.text_blue {
  color: #1643C3;
}

.text_darkblue {
  color: #4878FF;
}

.text_grey {
  color: #4D4D4D;
}

.bg_white {
  background-color: #F5F5F5;
}

.lh_120 {
  line-height: 120%;
}

.lh-125 {
  line-height: 125%;
}

.lh-150 {
  line-height: 150%;
}

.lh_160 {
  line-height: 160%;
}

.lh_183 {
  line-height: 183%;
}

.lh_155 {
  line-height: 155%;
}

.fs_12 {
  font-size: 12px;
}

/* --------------------------------Header----------------------------------- */
.bg-header {
  background-image: url('./assets/images/png/bg-header2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 1 !important;
}

.dropdown-box {
  position: absolute;
  background: white;
  min-width: 109px;
  z-index: 1;
  display: none;
  border-radius: 18px;
  border: 1px solid #E8E8E8;
  flex-direction: column;
  left: -61px;
  top: 41px;
}

.dropdown-box a {
  width: 108px;
  height: 45px;
  border-radius: 18px;
  border-bottom: 1px solid #E8E8E8;
  background: rgba(196, 196, 196, 0.00);
}

.dropdown-box a:hover {
  background: var(--gray5);
  color: var(--white);
}

.mw-68 {
  max-width: 68px !important;
}

.cur-pointer {
  cursor: pointer;
}

.btn-enter {
  padding: 16px 31px;
  border-radius: 8px;
  border: 1px solid var(--Blue, #1643C3);
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: var(--fs-2sm);
  font-weight: 500;
  color: #1643C3;
  transition: 0.3s linear;
}

.btn-enter1 {
  display: none;
}

.btn-enter:hover {
  box-shadow: 0 8px 16px 0 #1644c354, 0 6px 20px 0 #1644c346;
}

.btn-am {
  background: inherit;
  border: none;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  gap: 25px;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  position: relative;
  z-index: 2;
}

.gap-btn {
  gap: 10px;
}

.menu-icon {
  display: none;
}

.robo-img {
  padding-top: 80px;
  margin-bottom: 65px;
}

.head-padding {
  padding-top: 100px;
}

.mw-521 {
  max-width: 521px;
}

.nav-line::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 2px;
  background-color: white;
  bottom: -3px;
  border-radius: 10px;
  transition: all 300ms linear;
}

.nav-line:hover::after {
  width: 100%;
}

/* ----------------------Amplify----------------------- */
.bg_amplify {
  /* background-image: url("./assets/images/png/BlackBg.png"); */
  background-image: linear-gradient(180deg, #000 12%, transparent 10%), url("./assets/images/png/BlackBg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 900px !important; */
  object-fit: cover;
}

.h_350 {
  height: 350px !important;
}

.pt_187 {
  padding-top: 178px;
}

/* -----------------------Core Strategies------------------ */
.Bg_blue {
  background-image: url("./assets/images/png/BgBlue.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.A_card {
  border-radius: 12px;
  border: 1px solid #1643C3;
  background: linear-gradient(124deg, rgba(19, 245, 255, 0.25) 7.19%, rgba(0, 66, 255, 0.00) 93.2%);
  backdrop-filter: blur(12.5px);
  max-width: 370px;
  padding: 17px 19px 31px;
  width: 100%;
  cursor: pointer;
}

.Innovation_btn {
  border-radius: 8px;
  background: rgba(108, 103, 241, 0.20);
  padding: 12px 11px;
  border: transparent;
}

.opacity_05 {
  opacity: 0.5;
}

.bottom_line::before {
  content: "";
  position: absolute;
  background-color: white;
  opacity: 0.2;
  height: 3px;
  left: 0;
  width: 100%;
  bottom: 0;
}

.mw-485 {
  max-width: 485px !important;
}

.h_340 {
  height: 340px;
}

::-webkit-scrollbar {
  display: none !important;
}

.slick-dots li button:before {
  content: '' !important;
  width: 17px !important;
  height: 7px !important;
  border-radius: 23px !important;
  opacity: 0.3 !important;
  background: #D9D9D9 !important;
  transition: all .3s linear !important;
}

.slick-dots li.slick-active button:before {
  width: 51px !important;
  border-radius: 23px !important;
  opacity: 0.7 !important;
  background: #D9D9D9 !important;
}

.slick-dots li.slick-active {
  width: 51px !important;
}

.mb_1 {
  margin-bottom: -7px !important;
}

.py_coresec {
  padding-top: 87px;
  padding-bottom: 99px;
}

.common_img {
  border-radius: 4.847px;
  transition: 0.3s linear;
}

.common_img:hover {
  box-shadow: 0px 3.8778px 9.6945px 0px rgba(22, 67, 195, 0.21);
}

.pb_82 {
  padding-bottom: 82px;
}

/* -----------------------------------Tokenomics------------------------------- */
.tokenomics_bg_img {
  background-image: url("./assets/images/png/bg-twocolour2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.py_tokenonics {
  padding-bottom: 100px;
  padding-top: 100px;
}

.pt_90 {
  padding-top: 90px;
}

.pb_100 {
  padding-bottom: 100px;
}

.mb_57 {
  margin-bottom: -57px !important;
}

.view_btn {
  background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
  padding: 17px 16px;
  border: 2 px solid transparent;
}

.color_blue {
  color: #1643C3;
}

.fw_600 {
  font-weight: 600;
}

/* ------------------------------Supply-section----------------------------- */
.bg_supply {
  background-image: url('./assets/images/png/BgSupply.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: repeat;
}

.py_supply {
  padding-top: 96px;
  padding-bottom: 96px;
}

.w_550 {
  width: 550px;
}

.border_bottom {
  width: 100%;
  border-bottom: 1px solid #345CCB;
}

.list_style {
  list-style-type: value !important;
}

.py_startimgsupply {
  padding-top: 71px;
  padding-bottom: 91px;
}

.font_italic {
  font-style: italic;
}

/* ----------------------------------Strategies-section---------------------------- */
.bg_Strategies {
  background-image: url('./assets/images/png/Strategies.png');
  /* background-size: 100% 100; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.py_startegies {
  padding-top: 126px;
  padding-bottom: 126px;
}

.NFT_button {
  padding: 13px 21.5px 12px 21.5px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14.5px);
  position: absolute;
  left: 5%;
  top: 5%;
}

.img_box {
  border-radius: 5.75px;
  border: 0.958px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(9.5px);
  padding: 9px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: 0.3s linear !important;
}

.hover_effect:hover .hover_card {
  opacity: 1 !important;
}

.hover_card {
  transition: all 300ms linear;
}

.cards_img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 46.86%, #000 100%), lightgray 50% / cover no-repeat, #FFF;
  box-shadow: 0px 5px 23px 0px rgba(22, 67, 195, 0.32);
  cursor: pointer !important;
}

.gap_12 {
  gap: 12px;
}

.pt_20 {
  padding-top: 20px;
}

.px_20 {
  padding-left: 20px;
  padding-right: 20px;
}

.nft_card {
  left: 5%;
  bottom: 5%;
}

.btn_box {
  border-radius: 47.058px;
  border: 1.272px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(15.89805793762207px);
  padding: 3px 8px 3px 5px;
  cursor: pointer;
}

.start_3 {
  left: 3%;
}

.hover_card {
  padding: 25px 19px 16px 23px;
  border-radius: 8px;
  border: 2px solid rgba(22, 67, 195, 0.30) !important;
  background: linear-gradient(170deg, #1643C3 0.65%, #000 139.04%), linear-gradient(176deg, #3965E4 10.14%, #0C1F53 120.71%);
  box-shadow: 0px 5px 23px 0px rgba(22, 67, 195, 0.24);
  backdrop-filter: blur(49.5px);
}

.card_img {
  height: 30%;
  object-fit: cover;
  object-position: top;
}


/* ------------------------Our-Team---------------------- */
.bg_team {
  background-image: linear-gradient(360deg, #fff 24%, transparent 24%), url('./assets/images/png/BgTeam.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.py_team {
  padding-top: 132px;
  padding-bottom: 73px;
}

.card_team {
  padding: 12px 12px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 44px 5px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

/* ----------------------------Ecosystem-partner------------------------------ */
.partner_box {
  padding: 56px 44px !important;
  cursor: pointer;
  height: 100%;
  max-height: 145px;
  border-radius: 12.132px;
  border: 1.213px solid #C3D3FF;
  background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
}

.Announced_btn {
  padding: 25px 31px;
  border-radius: 8px;
  border: 1px solid #1643C3;
  background-color: transparent;
  transition: 0.3s linear;
}

.Announced_btn:hover {
  box-shadow: 0 8px 16px 0 #1644c354, 0 6px 20px 0 #1644c346;
}

.py_partner {
  padding-top: 160px !important;
  padding-bottom: 127px !important;
}

.pb_63 {
  padding-bottom: 63px;
}

.pt_71 {
  padding-top: 71px;
}

/* -----------------------------------------Roadmap------------------------------------ */
.Bg_Roadmap {
  background-image: url("./assets/images/png/BgRoadmap.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 160px;
  padding-bottom: 140px;
}

.p_roadmap {
  padding-bottom: 100px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #4273FF;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container1 {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.RoadmapRightLine {
  position: absolute;
  right: -13px;
  top: 12px;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.RoadmapLeftline {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: -13px;
}

.RoadmapLeftline1 {
  display: none;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: -13px;
}

.content {
  padding: 36px 15px;
  border-radius: 8px;
  border: 1px solid var(--Blue, #1643C3);
  background: rgba(22, 67, 195, 0.10);
}

.list-styletype-disc {
  list-style: disc !important;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    left: 31px;
  }

  .container1 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .RoadmapRightLine {
    display: none !important;
  }

  .RoadmapLeftline1 {
    display: block;
  }

  .RoadmapLeftline1,
  .RoadmapLeftline {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/* --------------------------------contactUs-section------------------------------- */
.contact_bg {
  background-image: url("./assets/images/png/cantactBg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity_08 {
  opacity: 0.8;
}

.py_contact {
  padding-top: 88px;
  padding-bottom: 67px;
}

.outline_none {
  outline: unset !important;
}

.border_bottom {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.60);
}

.resize_none {
  resize: none !important;
}

input::placeholder {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea::placeholder {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pt_18 {
  padding-top: 18px !important;
}

.pb_78 {
  padding-bottom: 78px;
}

.pt_48 {
  padding-top: 48px;
}

.pt_64 {
  padding-top: 64px;
}

.button {
  background: linear-gradient(93.11deg, #1643C3 10.28%, #369EFE 96.25%),
    linear-gradient(179.27deg, #1643C3 0.63%, #000000 175.69%);
  padding: 22px 40px;
  border-radius: 8px;
  border: transparent;
}

.glass_hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.glass_hover::before {
  content: "";
  background: rgba(255, 255, 255, 0.271);
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  filter: blur(30px);
  position: absolute;
  transition: left 0.7s ease-in-out !important;
}

.glass_hover:hover::before {
  left: 150%;
}

/* ----------------------------------footer------------------------------ */
.mw_107 {
  max-width: 107px;
}

.flex_flow_wrap {
  flex-flow: wrap;
}

.py_footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.text_lightBlack {
  color: #a4a4a4;
}

.footer_link {
  transition: 0.3s linear;
}

.footer_link:hover {
  color: #000000;
}

.mx_12 {
  margin-left: 12px;
  margin-right: 12px;
}

.nav_icon {
  transition: 0.3s linear;
}

.nav_icon:hover {
  transform: translateY(-7px) !important;
  /* filter: drop-shadow(0px 5px 8px #1643C3); */
}

@media (min-width:576px) {
  .h_sm_500 {
    height: 500px;
  }
}

@media (min-width:768px) {
  .w_md_900 {
    width: 900px;
  }
}

@media (min-width:992px) {
  .bg-header {
    background-image: url('./assets/images/png/header-bg-img.png');
    background-repeat: no-repeat;
    background-size: 100% 135%;
    background-position: center;
    width: 100%;
  }

  .tokenomics_bg_img {
    background-image: url("./assets/images/png/bg-twocolour.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .py_tokenonics {
    padding-bottom: 140px;
    padding-top: 145px;
  }

  .mb_45 {
    margin-bottom: -45px;
  }

  .head-padding {
    padding-top: 0;
  }

  .mw_554 {
    max-width: 554px;
  }

  .robo-img {
    transform: translate(0%, -7%);
    padding-top: 0;
    margin-bottom: 0;
  }

  .gap-btn {
    gap: 150px;
  }

  .footer_padding {
    padding-top: 70px;
    padding-bottom: 70px
  }

  .mw_882 {
    max-width: 882.078px;
  }

  .mw_521 {
    max-width: 521px;
  }

  .mx_312 {
    max-width: 312px;
  }

  .mw_326 {
    max-width: 326px;
  }

  .mw_442 {
    max-width: 442px;
  }

  .mw_819 {
    max-width: 819px;
  }
}

@media (min-width:1200px) {
  .custum_container {
    max-width: 1140px;
  }

  .mw_850 {
    max-width: 850px !important;
  }

  .min_vh_100 {
    min-height: 100vh !important;
  }
}

@media (max-width:1200px) {
  .min_vh_100 {
    min-height: 50vh;
  }
}


.bottom_11 {
  bottom: -11%;
}

@media (min-width:768px) and (max-width:1200px) {
  .bottom_11 {
    bottom: -5%;
  }
}

@media (max-width:767.98px) {
  .py_partner {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }

  .pt_71 {
    padding-top: 40px !important;
  }

  .py_footer {
    padding-top: 66px !important;
    padding-bottom: 48px !important;
  }

  .py_team {
    padding-top: 63px !important;
    padding-bottom: 45px !important;
  }

  .bg_team {
    background-image: linear-gradient(360deg, #fff 70%, transparent 70%), url('./assets/images/png/BgTeam.png');
    background-size: cover;
  }

  .cross1 {
    right: 0;
  }
}

@media (max-width:992px) {
  .menu-icon {
    width: 35px;
    height: 30px;
    background: transparent;
    position: relative;
    z-index: 5;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .cross {
    right: 0;
  }

  .cross1 {
    right: -100%;
  }

  .menu-icon span {
    width: 100%;
    height: 5px;
    background: white;
    transition: all .3s linear;
  }

  .nav_bar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 100vh;
    position: fixed;
    display: flex;
    z-index: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1643C3;
    transition: .3s linear;
    padding-left: 0 !important;
  }

  .left_true {
    left: 0;

  }

  .left_false {
    left: -100%;
  }

  .d_block {
    display: block;
  }

  .d_none {
    display: none;
  }

  .btn-enter1 {
    display: block;
    padding: 16px 31px;
    border-radius: 8px;
    border: 1px solid var(--Blue, #fff);
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: var(--fs-2sm);
    font-weight: 500;
    color: #fff;
  }

  .cross1 .crl-1 {
    transform: rotate(50deg) translate(17px, 17px);
  }

  .cross1 .crl-2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross1 .crl-3 {
    transform: rotate(-50deg) translateY(-50%);
  }

  .text_center {
    text-align: center;
  }
}


:root {
  --fs-4sm: 14px;
  --fs-6sm: 16px;
  --fs-8sm: 18px;
  --fs-md: 20px;
  --fs-2md: 22px;
  --fs-4md: 24px;
  --fs-6lg: 36px;
  --fs-8lg: 38px;
  --fs-6xl: 46px;
  --fs-2xxl: 52px;
  --fs-5xxxl: 85px;
}

@media (min-width:768px) and (max-width:992px) {
  :root {
    --fs-6sm: 14px !important;
    --fs-4md: 18px !important;
    --fs-2xxl: 45px !important;
  }
}

@media (min-width:576px)and (max-width:768px) {
  :root {
    --fs-5xxxl: 53px !important;
    --fs-2xxl: 35px !important;
  }
}

@media (max-width:576px) {
  :root {
    --fs-6xl: 35px !important;
    --fs-5xxxl: 53px;
    --fs-2xxl: 24px !important;
  }
}

@media (min-width:390px) and (max-width:500px) {
  .pt_209 {
    padding-top: 209px;
  }
}

@media (min-width:500px) and (max-width:576px) {
  .pt_227 {
    padding-top: 227px;
  }
}